# Copy this to a machine-local override file:
#   ${user.home}/.kozynest/database-${spring.profiles.active}.properties

jdbc.driver=oracle.jdbc.driver.OracleDriver
jdbc.url=${DB_URL:jdbc:oracle:thin:@localhost:1521:XE}
jdbc.username=${DB_USERNAME:kozynest}
jdbc.password=${DB_PASSWORD:}
